<!DOCTYPE html>
<html lang="hu">
{{>header}}
<body class="bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300 flex flex-col min-h-screen">

{{>navbar}}

<main class="flex-grow">
    {{{body}}}
</main>

{{>footer}}

</body>
</html>
