<div class="flex justify-center items-center min-h-[70vh]">
    <div class="bg-white/10 backdrop-blur-lg border border-white/20 p-8 rounded-xl shadow-xl w-full max-w-3xl">

        <h2 class="text-3xl font-semibold text-center mb-6">Kategóriák</h2>

        <div class="flex justify-end mb-4">
            <a href="/admin/create"
               class="bg-indigo-600 hover:bg-indigo-700 transition px-4 py-2 rounded font-semibold text-white">
                Új kategória
            </a>
        </div>

        <table class="w-full border border-white/20 rounded-lg overflow-hidden">
            <thead class="bg-white/10">
            <tr>
                <th class="p-3 text-left">Név</th>
                <th class="p-3 text-left">Szerkesztés</th>
                <th class="p-3 text-left">Törlés</th>
            </tr>
            </thead>

            <tbody>
            {{#each categories}}
                <tr class="border-t border-white/10">
                    <td class="p-3">{{nev}}</td>
                    <td class="px-4 py-3 gap-3">

                        <a href="/admin/edit/{{id}}"
                           class="px-3 py-1 bg-indigo-500/20 hover:bg-indigo-500/30
                                      text-indigo-300 rounded-md text-sm font-medium transition">
                            Szerkesztés
                        </a>
                    </td>
                    <td class="px-4 py-3 gap-3">
                        <form method="GET" action="/admin/delete/{{id}}"
                              onsubmit="return confirm('Biztosan törlöd?');">
                            <button
                                    class="px-3 py-1 bg-red-500/20 hover:bg-red-500/30
                                               text-red-300 rounded-md text-sm font-medium transition">
                                Törlés
                            </button>
                        </form>

                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </div>
</div>
